@charset "UTF-8";
/* CSS Document */
/*Header
--------------------*/
#header {
  margin-bottom: 30px;
  width: 100%; }
  #header #header_inner {
    width: 100%;
    min-width: 100%;
    min-width: auto; }
    #header #header_inner ul.sns {
      text-align: center; }
      #header #header_inner ul.sns li form input[type="text"] {
        margin: 26px auto 0px;
        width: 94% !important;
        height: 30px; }
      #header #header_inner ul.sns li#form_list {
        float: none;
        display: block;
        clear: both;
        margin: 0 auto; }
    #header #header_inner #main_visual {
      width: 94%;
      margin-bottom: 30px; }

/*Wrapper
--------------------*/
#wrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px; }

/*TopPage
--------------------*/
.home #wrap #main,
.search #wrap #main,
.archive #wrap #main,
.category #wrap #main,
.tag #wrap #main {
  width: 100%;
  margin: 0 auto; }
  .home #wrap #main article.post,
  .search #wrap #main article.post,
  .archive #wrap #main article.post,
  .category #wrap #main article.post,
  .tag #wrap #main article.post {
    display: block;
    clear: both;
    float: none;
    width: 300px;
    height: 300px;
    margin: 0 auto 30px; }

/*Footer
--------------------*/
#footer {
  position: relative;
  bottom: 0px;
  z-index: 0;
  clear: both; }
  #footer #footer_bt {
    display: none; }
  #footer nav {
    overflow: hidden;
    position: relative;
    clear: both;
    text-shadow: -1px 0px 0px #000000; }
    #footer nav ul {
      position: relative;
      left: 0%;
      float: none;
      text-align: left; }
      #footer nav ul li {
        position: relative;
        left: 0%;
        display: block;
        float: none;
        clear: both;
        padding: 20px 20px;
        border-right: none;
        border-bottom: solid 1px #f0f0f0; }
        #footer nav ul li a {
          font-size: 20px; }
      #footer nav ul li:first-child {
        border-left: none; }
  #footer #footer_inner {
    display: block !important;
    clear: both;
    width: 100%;
    padding: 0 20px;
    min-width: 100%;
    background: none; }
    #footer #footer_inner section.widget_area {
      width: 100%;
      min-height: 200px;
      margin: 0 auto;
      margin-top: 20px;
      margin-left: 0px;
      color: #f0f0f0;
      vertical-align: top; }
      #footer #footer_inner section.widget_area h2.widget_title {
        margin-bottom: 0px; }
      #footer #footer_inner section.widget_area ul {
        display: block;
        clear: both;
        float: none; }
        #footer #footer_inner section.widget_area ul li {
          width: 100%;
          border-bottom: solid 1px #f0f0f0; }
          #footer #footer_inner section.widget_area ul li a {
            display: block;
            margin-left: 20px;
            padding-top: 20px;
            font-size: 18px;
            text-decoration: none; }
    #footer #footer_inner section:first-child {
      margin-top: 70px; }
    #footer #footer_inner section:last-child {
      margin-bottom: 20px; }

/*CopyRight
--------------------*/
small#copyright {
  font-size: 18px; }

/*==================================================
Page&Single
==================================================*/
.page #main,
.single #main {
  width: 94%;
  margin: 0 auto; }
  .page #main img,
  .single #main img {
    width: auto;
    height: auto; }

/*==================================================
Comments
==================================================*/
#comments #input_area section.left_content {
  float: none;
  width: 100%; }
  #comments #input_area section.left_content input[type="text"],
  #comments #input_area section.left_content input[type="email"],
  #comments #input_area section.left_content input[type="url"] {
    width: 100%;
    height: 24px;
    margin-right: 0px; }
#comments #input_area section.right_content {
  clear: both;
  float: none;
  width: 100%;
  min-width: 0; }
  #comments #input_area section.right_content textarea {
    float: none;
    margin: 0 auto;
    padding: 1px 2px; }

/*==================================================
WidgetContent
==================================================*/
#calendar_wrap {
  margin: 0 auto;
  text-align: center; }

#wp-calendar {
  margin: 0px; }
